base:
	Send: 'Odoslať'
	Save: 'Uložiť'
	YourEmail: 'Váš e-mail'
error:
	protection: 'Vaša relácia vypršala. Vráťte sa prosím na homepage a skúste stránku načítať znova.'
	equal: 'Prosím zadajte %s.'
	notEqual: 'Prosím zadajte %s.'
	filled: 'Toto pole je povinné.'
	blank: 'Toto pole musí byť prázdne.'
	minLength: 'Prosím zadajte minimálne %d znakov.'
	maxLength: 'Prosím zadajte maximálne %d znakov.'
	length: 'Prosím zadajte hodnotu o dĺžke %d a %d znakov.'
	email: 'Prosím zadajte platný e-mail.'
	url: 'Prosím zadajte platnou URL.'
	integer: 'Prosím zadajte platné celé číslo.'
	float: 'Prosím zadajte platné (desatinné) číslo.'
	min: 'Prosím zadajte číslo väčšie alebo rovné %d.'
	max: 'Prosím zadajte číslo menšie alebo rovné %d.'
	range: 'Prosím zadajte číslo v rozmedzí %d a %d.'
	maxFileSize: 'Veľkosť nahrávaného súboru môže byť maximálne %d B.'
	maxPostSize: 'Nahrané dáta prekročila limit %d B.'
	mimeType: 'Nahrávaný súbor nie je v očakávanom formáte.'
	image: 'Nahrávaný súbor musí byť obrázok JPEG, GIF alebo PNG.'
	selectBoxValid: 'Zadajte platnú hodnotu z výberu.'
	uploadControlValid: 'Pri nahrávaní súboru sa vyskytla chyba.'

	password: 'Heslo musí Mať min. 8 znakov a obsahovať veľké a malé písmená a číslice'
	passwordAgain: 'Heslá sa musí zhodovať'
	captcha: 'Overte, že nie ste robot'
	bankAccount: 'Zadajte platné číslo bankového účtu'
	iban: 'Zadejte platný IBAN.'