base:
	Send: 'Send'
	Save: 'Save'
	YourEmail: 'Your e-mail'
error:
	protection: 'Your session has expired. Please return to the home page and try again.'
	equal: 'Please enter %s.'
	notEqual: 'Please enter %s.'
	filled: 'This field is required.'
	blank: 'This field should be blank.'
	minLength: 'Please enter at least %d characters.'
	maxLength: 'Please enter at least %d characters.'
	length: 'Please enter a value between %d and %d characters long.'
	email: 'Please enter a valid email address.'
	url: 'Please enter a valid URL.'
	integer: 'Please enter a valid integer.'
	float: 'Please enter a valid number.'
	min: 'Please enter a value greater than or equal to %d.'
	max: 'Please enter a value less than or equal to %d.'
	range: 'Please enter a value between %d and %d.'
	maxFileSize: 'The size of the uploaded file can be up to %d bytes.'
	maxPostSize: 'The uploaded data exceeds the limit of %d bytes.'
	mimeType: 'The uploaded file is not in the expected format.'
	image: 'The uploaded file must be image in format JPEG, GIF or PNG.'
	selectBoxValid: 'Please select a valid option.'
	uploadControlValid: 'An error occurred during file upload.'

	password: 'Password has to contain 8 characters with lowercase, uppercase and numbers'
	passwordAgain: 'Passwords has to be same'
	captcha: 'Prove you are not a robot'
	bankAccount: 'Enter valid bank account'