base:
	Send: 'Odeslat'
	Save: 'Uložit'
	YourEmail: 'Váš e-mail'
error:
	protection: 'Vaše relace vypršela. Vraťte se prosím na homepage a zkuste stránku načíst znovu.'
	equal: 'Prosím zadejte %s.'
	notEqual: 'Prosím zadejte %s.'
	filled: 'Toto pole je povinné.'
	blank: 'Toto pole musí být prázdné.'
	minLength: 'Prosím zadejte minimálně %d znaků.'
	maxLength: 'Prosím zadejte maximálně %d znaků.'
	length: 'Prosím zadejte hodnotu o délce %d a %d znaků.'
	email: 'Prosím zadejte platný e-mail.'
	url: 'Prosím zadejte platnou URL.'
	integer: 'Prosím zadejte platné celé číslo.'
	float: 'Prosím zadejte platné (desetinné) číslo.'
	min: 'Prosím zadejte číslo větší nebo rovno %d.'
	max: 'Prosím zadejte číslo menší nebo rovno %d.'
	range: 'Prosím zadejte číslo v rozmezí %d a %d.'
	maxFileSize: 'Velikost nahrávaného souboru může být maximálně %d B.'
	maxPostSize: 'Nahraná data překročila limit %d B.'
	mimeType: 'Nahrávaný soubor není v očekávaném formátu.'
	image: 'Nahrávaný soubor musí být obrázek typu JPEG, GIF nebo PNG.'
	selectBoxValid: 'Zadejte platnou hodnotu z výběru.'
	uploadControlValid: 'Při nahrávání souboru došlo k chybě.'

	password: 'Heslo musí mít min. 8 znaků a obsahovat velká a malá písmena a číslice'
	passwordAgain: 'Hesla se musí shodovat'
	captcha: 'Ověřte, že nejste robot'
	bankAccount: 'Zadejte platné číslo bankovního účtu'