lang:
	code: 'sk'
	code_REGION: 'sk_SK'
	code-region: 'sk-sk'
	html-code-region: sk
	region: 'sk'
	name: 'Slovensky'
date:
	formatDateTime: 'j.n.Y G:i'
	formatDateTimeSeconds: 'j.n.Y G:i:s'
	formatDate: 'j.n.Y'
	formatTime: 'G:i'
general:
	months: 'január|február|marec|apríl|máj|jún|júl|august|september|október|november|december'