lang:
	code: 'cs'
	code_REGION: 'cs_CZ'
	code-region: 'cs-cz'
	html-code-region: cs
	region: 'cz'
	name: 'Česky'
date:
	formatDateTime: 'j.n.Y G:i'
	formatDateTimeSeconds: 'j.n.Y G:i:s'
	formatDate: 'j.n.Y'
	formatTime: 'G:i'